services:
  # crawler:
  #   build: crawler
  #   container_name: crawler
  #   restart: always
  #   depends_on:
  #     db:
  #       condition: service_healthy
  #   volumes:
  #     - "./config:/config"

  # indexer:
  #   build: indexer
  #   container_name: indexer
  #   restart: always
  #   depends_on:
  #     db:   
  #       condition: service_healthy
  #   volumes:
  #     - "./config:/config"

  # backend:
  #   build: backend
  #   container_name: backend
  #   restart: always
  #   depends_on:
  #     db:
  #       condition: service_healthy
  #   volumes:
  #     - "./config:/config"

  # frontend:
  #   build: frontend
  #   container_name: frontend
  #   restart: always
  #   depends_on:
  #     db:
  #       condition: service_healthy

  db:
    image: postgres:16
    container_name: db
    restart: always
    shm_size: 128mb
    volumes:
      - ./postgres-data/data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${POSTGRES_DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_DATABASE}

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_DB_USER} -d ${POSTGRES_DB_DATABASE}"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 10s
  
  # caddy:
  #   image: caddy
  #   container_name: caddy
  #   restart: always
  #   ports:
  #     - "8080:80"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080
    volumes:
      - ./caddy-data/config:/config