services:
  crawler:
    build: crawler
    restart: always
  
    depends_on:
      db:
        condition: service_healthy

    env_file:
      - .env

   indexer:
     build: indexer
     restart: always

     depends_on:
       db:   
         condition: service_healthy

     env_file:
       - .env

  backend:
    build: backend
    restart: always

    env_file:
      - .env

    ports:
      - ${BACKEND_PORT}:3333
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build: 
      context: frontend
      args:
        - VITE_BACKEND_URL=${VITE_BACKEND_URL}

    restart: always

    ports:
      - ${FRONTEND_PORT}:80
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16
    restart: always
    shm_size: 128mb
    volumes:
      - ./postgres-data/data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${POSTGRES_DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_DATABASE}

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_DB_USER} -d ${POSTGRES_DB_DATABASE}"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 10s

#  adminer:
#    image: adminer
#    restart: always
#    ports:
#      - 8081:8080
