database:
  host: "searchengine-db"
  username: "user"
  password: "password"
  dbname: "maindb"
crawler:
  crawler_threads: 2
  max_crawl_depth: 3
  user_agent: ""
  seed_url: "https://wikipedia.org"
  log: "info"
indexer:
  time_between_indexes: 20
  log: "info"
backend:
  page_size: 50