.App_body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.search_result {
  background-color: #1a1a1a;
  width: 80%;
  margin-top: 1em;
  padding: 1em;
  border-radius: 8px;
}